<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=titulo%>
    </title>
</head>
<style>
    .main-container {
        padding: 20px;
        gap: 20px;
        font-size: 18px;
        line-height: 2rem;
    }
</style>

<body>
    <%- include('partials/header.ejs') %>

        <%- include('partials/nav.ejs') %>

            <div class="main-container">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto numquam eius minima, cum quo,
                    repudiandae, veniam vero velit magni voluptatibus laborum voluptatum doloremque dicta harum
                    consequuntur doloribus excepturi id ipsum!
                </p>

            </div>

            <%- include('partials/footer.ejs') %>

</body>

</html>