<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de multiplicar</title>
</head>
<style>
    button a:link,
    button a:visited,
    button a:hover,
    button a:active{
        text-decoration: none;
        color: black
    }
</style>
<body>
    <section>
        <%- include('partials/header.ejs') %>
        
        <%- include('partials/nav.ejs') %>
        <form class="my-5" action="/tabla" method="/post">
            <label for="tabla">Tabla</label>
            <input type="number", id="numero" name="numero" requiredValue="<%=numero%>">
            <button type="submit">Enviar</button>
            <button type="reset"> <a href="/tabla">Limpiar</a></button>
        </form>
        <% 
            
            let res = 0;
            if(numero){
                for(con = 1; con <= 10; con++){
                    res = con * numero;
                    %>
                    <h3> <%=numero%> * <%=con%> = <%=res%> </h3>
                    <% 
                }
            }
        %>
        <%- include('partials/footer.ejs') %>
    </section>
</body>
</html>